@model List<Person>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Список людей</h2>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
            </tr>
        }
    </table>
</div>
